
.form-container{
    background: #fafafa;
    border-radius: 10px;
    width: 40%;
  }
  
  .form-header{
    width: 90%;
    border-bottom: 1px solid #eaeaea;
    margin: 0 auto;
    color: #282c34;
    padding: 10px 0;
  }
  
  .form-body{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .form-body input{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .form-footer{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }
  
  .form-footer button{
    width: 100%;
    background: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px ;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-footer button:hover{
    background: #45a049;
  }

  @media screen and (max-width: 800px) {
    .form-container{
      width: 80%;
    }
  }